/* navbar */
.navbar {
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: var(--shadow);
    border:rgba(152, 152, 152, 0.5) solid 1px;
  }
  .navbar a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 1000;
    cursor: pointer;
  }
  
  /* searchbar */
  .search_bar {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  .search_bar input {
    background-color: rgb(216, 216, 216);
    padding: 8px;
    width: 30vw;
    border-radius: 5px;
    border: none;
  }
  
  /* welcome */
  .wel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  
  /* button */
  .button {
    display: flex;
    padding: 5px;
    gap: 10px;
  }
  .button #btn {
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .button .signup_btn {
    background-color: var(--button-color);
    color: white;
  }
  .button .signup_btn:hover {
    background-color: var(--button-hover-color);
  }
  .button .login_btn {
    background-color: var(--primary-color);
    color: rgb(0, 0, 0);
  }
  .button .login_btn:hover {
    background-color: var(--hover-color);
  }